---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

<!DOCTYPE html>
<html>
  <body>
    <object data="http://yingjiexue-brown.github.io/files/CV_yingjie_2023.pdf" type="application/pdf" width="700px" height="700px">
      <embed src="http://yingjiexue-brown.github.io/files/CV_yingjie_2023.pdf">
          <p>This browser does not support PDFs. Please download the PDF to view it: <a href="http://yingjiexue-brown.github.io/files/CV_yingjie_2023.pdf">Download PDF</a>.</p>
      </embed>
    </object>
  </body>
</html>
